/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-color: var(--background-color, #000028);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-content: space-between;
  block-size: max(668px, 100vh);
  padding: 20px;
  margin-block-end: 60px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  top: 20px;
  right: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decorated-zone-color, #FF0070);
  border-right: 1px solid var(--decorated-zone-color, #FF0070);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  left: 20px;
  bottom: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decorated-zone-color, #FF0070);
  border-left: 1px solid var(--decorated-zone-color, #FF0070);
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 12px;
  justify-content: center;
  margin-block-start: 1px;
}

.header__theme-menu-button {
  background: inherit;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  font-weight: 400;
  line-height: 100%;
  color: var(--header-menu-color, #FF0070);
  text-transform: lowercase;
  padding: 3px 13px;
  border: none;
  transition: 1.5s; /* честно, не получается нормально разобраться с этим. мне кажется, не так это должно быть исполнено */
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-color, #FF0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-menu-color-hover, rgba(255, 0, 112, 0.4));
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--header-menu-color, #FF0070);
}

.header__title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-text-color, #DB00FF);
  margin-inline-start: -20px;
}

.title-shadow {
  text-shadow: 4px 4px 0px var(--header-title-shadow, #FF0070);
}

.header__text {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  font-weight: 700;
  line-height: 130%;
  color: var(--title-color, #000028);
  inline-size: max(491px, 50%);
  justify-self: end;
  align-self: center;
}

.title-decor {
  background-color: var(--title-decor-color, #FF0070);
}

.header-rec {
	visibility: var(--rec-visibility, visible);
 }

.header-rec::before {
  position: absolute;
  content: "rec";
  top: 20px;
  right: 48px;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--accent-color, #FF0070);
}

.header-rec::after {
  position: absolute;
  content: "";
  top: 28px;
  right: 29px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decorated-zone-color, #FF0070);
  box-shadow: 0 0 5px 3px var(--decorated-zone-color, #FF0070);
}

.content {
  display: grid;
  grid-template-columns: fit-content(314px) 2fr;
  gap: 20px;
  padding: 0 20px;
  margin-block-end: 80px;
}

.content__title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  font-weight: 700;
  line-height: 130%;
  color: var(--content-title-color, #FF0070);
  max-inline-size: 314px;
  margin-block-end: 20px;
}

.content__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 20px;
}

.content__block-card-title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  font-weight: 700;
  line-height: 130%;
  color: var(--title-color, #000028);
}

.content__block-card-text {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  font-weight: 400;
  line-height: 130%;
  color: var(--text-color, #F1B2CE);
  margin-block-start: 10px;
}

.link {
  text-shadow: 2px 2px 0px var(--title-decor-color, #FF0070);
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color, #F1B2CE);
}

.link:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

.content-columns {
  padding: 0 20px;
  margin-block-end: 80px;
}

.content__block-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-title-weight {
  font-weight: 400;
}

.content-images {
  padding: 0 20px;
  margin-block-end: 60px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-start: 20px;
}

.gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image-1 {
  grid-column-end: span 2;
}

.image-2 {
  grid-row-end: span 2;
}

.image-3 {
  grid-row-end: span 2;
}

.image-5 {
  grid-column-end: span 2;
}

.footer {
  block-size: max(668px, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-text-color, #DB00FF);
}

.footer-shadow {
  text-shadow: 2px 2px 0px var(--header-title-shadow, #FF0070);
}

@media (width < 1024px) {
  .header__theme-menu {
    display: grid;
    justify-content: end;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .title-shadow {
	text-shadow: 4px 4px 0px var(--header-title-shadow-s, #FF0070);
  }
  .header__text {
    max-inline-size: 364px;
  }
  .content {
    grid-template-columns: fit-content(236px) 2fr;
  }
  .content__title {
    max-inline-size: 236px;
  }
  .content__block-columns {
    grid-template-columns: 1fr;
  }
}

@media (width < 768px) {
  .header {
    padding: 10px;
    margin-block-end: 40px;
  }
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }
  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
  .header-rec::before {
    top: 10px;
    right: 38px;
  }
  .header-rec::after {
    top: 19px;
    right: 19px;
  }
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0;
  }
  .header__text {
    inline-size: 100%;
  }
  .content {
	  display: flex;
	  flex-direction: column;
    gap: 0px;
    padding: 0 10px;
	  margin-block-end: 50px;
  }
  .content__title {
	  max-inline-size: none;
  }
  .content-columns {
	  padding: 0 10px;
	  margin-block-end: 50px;
  }
  .content-images {
	  padding: 0 10px;
	  margin-block-end: 41px;
  }
  .gallery {
	  grid-template-columns: repeat(1, 1fr);
	  gap: 10px;
	  margin-block-start: 10px;
  }
  .image-1 {
	  grid-column-end: span 1;
  }
  .image-2 {
	  grid-column-end: span 1;
  }
  .image-3 {
	  grid-column-end: span 1;
  }
  .image-5 {
	  grid-column-end: span 1;
  }
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .footer-shadow {
    text-shadow: 2px 2px 0px var(--header-title-shadow-s, #FF0070);
  }
}